*{
    box-sizing:border-box;
}

img{
    width:100%;
    height:auto;
}

.carrousel_parent-ecrans{
    display:flex;
    width:100%;
    overflow-x:scroll;
}

.carrousel_ecran{
    max-width:auto;
    width:100%;
}

.carrousel_ecran figure{
    margin:0;
}